/* Estilos base para dispositivos de hasta 800px de ancho */
body {
    max-width: 800px;
    margin: auto;
  }
  
  #titulo1{
    color: rgb(2, 255, 187);
    font-family: sans-serif;
    font-size: 50px;
  }

  .encabezado {
      border-width: 4px;
      margin: 1px;
      display: flex;
  }
  
  .cajaRoja {
      border-width: 4px;
      margin: 15px;
      display: flex;
  }
  .cajaRoja img {
      width: 75%;
      height: auto;
  }
  
  .pie {
      border-width: 4px;
      padding: 10px;
  }
  
  .linea {
      border-width: 4px;
      width: 50%;
      margin: 5px;
  }
  
  .linea-izquierda {
      text-align: left;
  }
  
  .linea-derecha {
      text-align: right;
  }
  
  .cajaSup {
      border-width: 4px;
      margin: 1px;
      width: 100%;
  }
  
  .cajaFooter {
      border-width: 4px;
      margin: 5px;
      width: calc(25% - 20px); /* 25% width para dispositivos de hasta 800px */
      padding: 10px;
      box-sizing: border-box;
  }
  
  .fila {
      display: flex; /* Asegura que los elementos estén en línea */
      justify-content: space-between; /* Espaciado uniforme entre los elementos */
      margin-top: 10px; /* Espacio entre las filas */
  }
  
  ul {
      list-style: none;
      text-align: left;
  }
  
  h4 {
      text-align: left;
  }
  
  footer {
      background-color: #333;
      color: #fff;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    .cajaFooter {
      width: calc(50% - 20px); /* 50% width para dispositivos móviles */
    }
    .cajaRoja {
      width: calc(100% - 0px);
    }
  
    .fila {
      flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    }
    
    p {
      font-size: 15px;
    }
    .cajaRoja{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;

    }
    #texto11 {
      order: 1;
      text-align: left;
    }
    #texto12 {
      order: 2;
      text-align: left;
      font-size: 15px;
    }
    #texto13 {
      order: 3;
      font-size: 12px;
    }
    #imagen1 {
      order: 4;
      width: 250px;
    }

    #imagen2 {
      order: 5;
      width: 250px;
      margin: 0%;
    }
    #texto21 {
      order: 6;
      margin-right: 0%;
    }
    #texto22 {
      order: 7;
      font-size: 15px;
    }
    #texto23 {
      order: 8;
      font-size: 12px;
      margin-left: -8%;
    }
    #texto31 {
      order: 9;
      text-align: left;
      margin: 8%;
    }
    #texto32 {
      order: 10;
      text-align: left;
      font-size: 25px;
      margin: 8%;
    }
    #texto33 {
      order: 11;
      font-size: 12px;
      margin: 8%;
    }
    #imagen3 {
      order: 12;
      width: 250px;
    }
    #titulo1{
      font-size: 40px;
    }
  }
  
  #caja1{
    background-color: #fff7fd;
  }
  
  #caja2{
    background-color: #ffffe9;
  }

  #caja3{
    background-color: #eef6f9;
  }

  h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(211, 198, 198);
    font-size: 35px;
  }

  p{
    font-size: 20px;
  }

  #texto12{
    font-size: 45px;
  }

  #imagen1 {
    width: 350px;
  }
  #imagen2 {
    width: 350px;
  }

  #imagen3 {
    width: 350px;
  }

  #texto21 {
    margin-left: 17% ;
  }
  #texto22 {
    margin-left: 17% ;
  }
  #texto23 {
    margin-left: 17% ;
  }